* {
    margin: 0;
}

.title {
    background-color: blueviolet;
}

.header {
    background-color: aquamarine;
}

.body {
    background-color: chocolate;
    display: flex;
    justify-content: space-around;
}

.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstTable {
    background-color: brown;
    overflow-y: scroll;
    max-height: 80vh;
}

.secondTable {
    background-color: burlywood;
}

.subtitle {
    background-color: chartreuse;
}